body{
    background: url(img.jpg);
    background-repeat:no-repeat;
    background-size: fill;

}


#demo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:100px ;
    color: orange;

}